<ion-header-bar class="bar-stable bar-home">
        <button class="button icon menu-header"></button>
        <h1 class="title">LIPID App</h1>
        <button class="button"><i class="icon ion-ios-plus-outline"></i></button>
</ion-header-bar>
<ion-content class="inicio">

        <button ui-sref="formulariodislipemia" class="button button-full button-light">
          TRATAMIENTO DISLIPEMIA
        </button>
        <button ui-sref="hipercolesterolemia" class="button button-full button-light">
          HIPERCOLESTEROLEMIA<br>FAMILIAR
        </button>
        <button ui-sref="limitaciones1" class="button button-full button-light">
          LIMITACIONES ESTANINAS
        </button>
        <button ui-sref="premenu_interacciones2" class="button button-full button-light">
          INTERACCIONES FARMACOL&#xD3;GICAS
        </button>

        <div class="row">
          <div class="col"><img src="img/logo-cardio.png"></div>
          <div class="col prueba"><img src="img/logo-sea.png"></div>
        </div>

</ion-content>

<div class="tabs tabs-icon-only bar-footer">
        

  

        <a class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item menu_icon_bottom">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>

