

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" ui-sref="formulariodislipemia"></a>
		<ul>
			<li>FACTORES DE RIESGO<br>CARDIOVASCULAR<br>HTA SEVERA<br><hr></li>
			<li style="background:white;">(1)<br>PAS &#8925; 180 mmHg o PAD &#8925; 110 mmHg</li>
			<li>(2)<br>PAS &#8925; 160 mmHg o PAD &#8925; 110 mmHg y > 3 FRCVs</li>
			<li style="background:white;">(3)<br>PAS &#8925; 140 mmHg o PAD &#8925; 90 mmHg y LOD, ERC estadio 3 o diabetes</li>
			<li>(4)<br>PAS &#8925; 130 mmHg o PAD &#8925; 85 mmHg y ECV sintomática estadio &#8925; 4 o diabetes con LOD o FRCVs</li>
		</ul>
	</div>

	
	
	  
</ion-content>
<button ui-sref="formulariodislipemia" class="continuar button">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>