<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">TRATAMIENTO DE LA DISLIPEMIA</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">
<h2 class="subtitle">3 de 3 TRATAMIENTO<br>¿El paciente ha tenido tratamiento previo?</h2>

      
	  <ul class="list lista" style="margin-bottom: 200px;">
	    <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:14;">
     <label>Estatinas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="estatinas" onchange="javascript:showEstatina()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		<ul class="selector_medicamentos sel_estatinas">
			<li class="linea_atorvastatina">Atorvastatina
				
			</li>
			<div class="cuadro_dosis cuadro_atorvastatina">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input id="atorv_10" value="35" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="atorv_20" value="41" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input id="atorv_40" value="47" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">80 mg / 24 horas<input id="atorv_80" value="53" type="checkbox"></p>
					<div>
						<p class="cancelar1">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_rosuvastatina gris" style="background: #eeeeee !important">Rosuvastatina
				
			</li>
			<div class="cuadro_dosis cuadro_rosuvastatina">
					<p><img src="img/iconos_medicamentos.png">5 mg / 24 horas<input id="rosuv_5" value="41" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input id="rosuv_10" value="47" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="rosuv_20" value="53" type="checkbox"></p>
					<div>
						<p class="cancelar2">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>

			<li class="linea_pitavastatina">Pitavastatina
				
			</li>
			<div class="cuadro_dosis cuadro_pitavastatina">
					<p><img src="img/iconos_medicamentos.png">1 mg / 24 horas<input id="pitv_1" value="35" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">2 mg / 24 horas<input id="pitv_2" value="41" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">4 mg / 24 horas<input id="pitv_4" value="47" type="checkbox"></p>
					<div>
						<p class="cancelar3">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_simvastatina gris" style="background: #eeeeee !important">Simvastatina
				
			</li>
			<div class="cuadro_dosis cuadro_simvastatina">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input id="simv_10" value="29" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="simv_20" value="34" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input id="simv_40" value="41" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">80 mg / 24 horas<input id="simv_80" value="47" type="checkbox"></p>
					<div>
						<p class="cancelar4">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_pravastatina">Pravastatina
					
			</li>
			<div class="cuadro_dosis cuadro_pravastatina">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input id="prav_10" value="20" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="prav_20" value="26" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input id="prav_40" value="33" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">80 mg / 24 horas<input id="prav_80" value="40" type="checkbox"></p>
					<div>
						<p class="cancelar5">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_fluvastatina gris" style="background: #eeeeee !important">Fluvastatina
					
			</li>
			<div class="cuadro_dosis cuadro_fluvastatina">
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="fluv_20" value="20" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input id="fluv_40" value="26" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">80 mg / 24 horas<input id="fluv_80" value="33" type="checkbox"></p>
					<div>
						<p class="cancelar6">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_lovastatina">Lovastatina
					
			</li>
			<div class="cuadro_dosis cuadro_lovastatina">
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input id="lov_20" value="25" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input id="lov_40" value="31" type="checkbox"></p>
					<div>
						<p class="cancelar7">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		  </li>
		  <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:13;">
     <label>Ezetimibe</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="ezetimibe" onchange="javascript:showEzetimibe()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     <ul class="selector_medicamentos sel_ezetimibe">
			<li class="linea_ezetimibe">Ezetimibe

				
			</li>
			<div class="cuadro_dosis cuadro_ezetimibe">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input id="ezet_10" value="20" type="checkbox"></p>
					
					<div>
						<p class="cancelar8">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		  </li>
		   
	    <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:12;">
     <label>iPCSK9</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="ipcsk9" onchange="javascript:showIPCSK9()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>

		     </label>
		<ul class="selector_medicamentos sel_ipcsk9">
			<li class="linea_alirocumab">Alirocumab
				
			</li>
			<div class="cuadro_dosis cuadro_alirocumab">
					<p><img src="img/iconos_medicamentos.png">75 mg / 2 semanas<input id="aliroc_75" value="53" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">150 mg / 2 semanas<input id="aliroc_150" value="68" type="checkbox"></p>
					<div>
						<p class="cancelar9">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_evolocumab" style="background: #eeeeee !important">Evolocumab
				
			</li>
			<div class="cuadro_dosis cuadro_evolocumab">
					<p><img src="img/iconos_medicamentos.png">140 mg / 2 semanas<input id="evoloc_140" value="61" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">420 mg / mes<input id="evoloc_420" value="61" type="checkbox"></p>
					<div>
						<p class="cancelar10">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		  </li>
		 
	     <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:11;">
     <label>Resinas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="resinas" onchange="javascript:showResinas()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		 <ul class="selector_medicamentos sel_resinas">
			<li class="linea_colestiramina">Colestiramina
				
			</li>
			<div class="cuadro_dosis cuadro_colestiramina">
					<p><img src="img/iconos_medicamentos.png">4 g / 6-8 horas<input id="colestir_4" value="12" type="checkbox"></p>
					<div>
						<p class="cancelar11">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_colestipol" style="background: #eeeeee !important">Colestipol
				
			</li>
			<div class="cuadro_dosis cuadro_colestipol">
					<p><img src="img/iconos_medicamentos.png">5 g / 12-24 horas<input id="colestip_5" value="12" type="checkbox"></p>
					<div>
						<p class="cancelar12">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		    
		  </li>
	     <li class="item item-toggle" style="margin-bottom:300px;border-top: 0; overflow:initial; z-index:10;">
     <label>Fibratos</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="fibratos" onchange="javascript:showFibratos()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		 <ul class="selector_medicamentos sel_fibratos">
			<li class="linea_fenofibrato" >Fenofibrato
				
			</li>
			<div class="cuadro_dosis cuadro_fenofibrato">
					<p><img src="img/iconos_medicamentos.png">200 g / 24 horas<input id="fenof_200" value="10" type="checkbox"></p>
					<div>
						<p class="cancelar13">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_gemfibrozilo" style="background: #eeeeee !important">Gemfibrozilo
				
			</li>
			<div class="cuadro_dosis cuadro_gemfibrozilo">
					<p><img src="img/iconos_medicamentos.png">900 g / 24 horas<input id="gemf_900" value="10" type="checkbox"></p>
					<p><img src="img/iconos_medicamentos.png">600 g / 12 horas<input id="gemf_600" value="10" type="checkbox"></p>
					<div>
						<p class="cancelar14">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		  </li>
		  
	  </ul>

</ion-content>
<button ng-click="sumar()" class="continuar button">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a ui-sref="tratamientoprevio" class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>