
<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">HIPERCOLESTEROLEMIA FAMILIAR</h1>

</ion-header-bar>
<ion-content class="form_dislipenia" style="padding-bottom:300px;">
<h2 class="subtitle">DIAGNÓSTICO</h2>
<div class="content_diagnostico_hf">
	<img class="certeza" src="img/circulo_diag_rojo.png">
  <img class="posible" src="img/circulo_diag_naranja.png">
  <img class="probable" src="img/circulo_diag_naranja.png">
  <img class="improbable" src="img/circulo_diag_verde.png">
	<p>Este paciente presenta un dianóstico de</p>
	<p class="certeza"><span>CERTEZA</span></p>
  <p class="posible"><span>POSIBLE</span></p>
  <p class="probable"><span>PROBABLE</span></p>
  <p class="improbable"><span>IMPROBABLE</span></p>
	<p>de Hipercolesterolemia Familiar<br>Homocigótica</p>
</div>

      
	  

	  
</ion-content>
<button ui-sref="form_tratamiento" class="continuar button btn_trat">ACCEDER A TRATAMIENTO</button>
<button ui-sref="hipercolesterolemia" class="continuar button btn_no_trat">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>