<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">HIPERCOLESTEROLEMIA FAMILIAR</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">
<ul>
  <li class="encabezado_gris_top">Historia familiar</li>
    <ul class="formulario_criterio">
      <li><input class="regular-checkbox" type="checkbox"><p>Familiar de primer grado con enfermedad coronaria prematura (hombres &lt;55 años y mujeres &lt; años) y/o familiar de primer grado con niveles de cLDL &gt; 210 mg/dl</p><div style="clear:both"></div></li>
      <li><input type="checkbox"><p>Familiar de primer grado con xantomas tendinosos y/o arco corneal &lt;45 años y/o familiar de &lt;18 años con cLDL ≥ 150 mg/dl</p><div style="clear:both"></li>
    </ul>
  <li class="encabezado_gris_mid">Antecedentes personales</li>
  <ul class="formulario_criterio">
      <li><input type="checkbox"><p>Paciente con enfermedad coronaria prematura (hombres &lt;55 años y mujeres &lt;60 años)</p><div style="clear:both"></div></li>
      <li><input type="checkbox"><p>Paciente con enfermedad cerebrovascular o arterial periférica prematura (hombres &lt;55 años y mujeres &lt;60 años)</p><div style="clear:both"></li>
    </ul>
  <li class="encabezado_gris_mid">Examen físico</li>
  <ul class="formulario_criterio">
      <li><input type="checkbox"><p>Xantomas tendinosos</p><div style="clear:both"></div></li>
      <li><input type="checkbox"><p>Arco corneal &lt;45 años</p><div style="clear:both"></li>
    </ul>
  <li class="encabezado_gris_mid">Análisis de laboratorio</li>
  <ul class="formulario_criterio">
      <li><input type="checkbox"><p>cLDL &ge; 330 mg/dL</p><div style="clear:both"></div></li>
      <li><input type="checkbox"><p>cLDL 250-329 mg/dL</p><div style="clear:both"></li>
      <li><input type="checkbox"><p>cLDL 190-249 mg/dL</p><div style="clear:both"></div></li>
      <li><input type="checkbox"><p>cLDL 155-189 mg/dL</p><div style="clear:both"></li>
    </ul>
  <li class="encabezado_gris_mid">Análisis genético</li>
  <ul class="formulario_criterio">
      <li><input type="checkbox"><p>Mutación funcional en el gen del RLDL, APOB o PCSK9</p><div style="clear:both"></div></li>
      
    </ul>
</ul>
<div style="width:100%; height:150px;"></div>

      


</ion-content>
<button  ng-click="compro1()" class="continuar button">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>