

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" back></a>
		<ul style="color:#606366">
			<li>¿Sospecha De<br>Hipercolesterolemia<br>Familiar?<br><hr></li>
			<li style="
    background: #e6e0e4;
    margin-top: 15px;
    font-weight: 500;
">Criterios de sospecha clínica<br>de Hipercolesterolemia familiar.</li>
			<li><span style="font-weight: 700;">(1)<br>Individuo co cLDL > 220mg/dl y al<br>menos uno de los siguientes criterios:</span>
				<ul>
					<li style="
    color: #606366;
    font-weight: 400;
">a) Familiar < 18 años con cLDL ><br>150mg/dl</li>
					<li>b) Familiar > 18 años con cLDL ><br>190mg/dl</li>
					<li>c) Presencia de enfermedad coro-<br>naria prematura en el caso de índice<br>y/o en familiar de primer grado</li>
					<li>d) Presencia de xantomas en el caso<br>índice y/o en familiar de primer<br>grado</li>
				</ul>


			</li>
			<li><span style="font-weight: 700;">(2)<br>Si no dispone de datos familiares se<br>debe sospechar una hipercolesterolemia<br>familiar en personas de cLDL<br>>300 mg/dl</span></li>
			
		</ul>
	</div>
	<div style="width:100%; height:150px;"></div>

	
	
	  
</ion-content>
<button back class="continuar button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>