

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" back></a>
		<ul style="color:#606366">
			<li></li>
			<li style="
    background: #e6e0e4;
    margin-top: 15px;
    font-weight: 500;
">Diagnóstico de Hipercolesterolemia<br>Familiar en niños y adolescentes</li>
			<li>Se debe sospechar una HF con cLDL ≥ 190 mg/dL o cLDL > 150 mg/dL con historia de hipercolesterolemia y/o ECV prematura en uno de los progenitores.</li>
			<li>Se debería realizar la determinación de colesterol en los niños a partir de los 2 años si existe historia de HF en uno de los progenitores.</li>			
			<li>Si se conoce el defecto genético en uno de los padres, se puede realizar el diagnóstico genético en el niño con cLDL > 150 mg/dL, previa información y consentimiento del progenitor afecto o tutor legal.</li>			
		</ul>
	</div>
		<div style="width:100%; height:50px;"></div>


	
	
	  
</ion-content>
<button ui-sref="modal4_secciones" class="continuar button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>