

<ion-content class="form_dislipenia">
	<div class="factores_cuadro" style="margin-bottom:0;">
		<a class="cerrar" back></a>
		<ul style="color:#606366">
			<li style="margin-top: 21px;">Criterios Diagnósticos<br>de La Hipercolesterolemia<br>familiar Homocigótica</li>
			<li style="
    background: #e6e0e4;
    margin-top: 15px;
    font-weight: 500;
">I</li>
			<li>
				<ul>
					<li style="
    color: #606366;
    font-weight: 400;
">a) c-LDL > 500 mg/dL sin tratamiento</li>
					<li>b) c-LDL > 300 mg/dL con el máximo tratamiento disponible y tolerable</li>
				</ul>


			</li>
			<li><span style="font-weight: 700;">Y al menos uno de los siguientes<br>criterios:</span></li>
			<li>
				<ul>
					<li style="
    color: #606366;
    font-weight: 400;
">a) Ambos padres con la misma mutación en el gen r-LDL o ambos padres con hipercolesterolemia sugerente de HF(c-LDL>200 mg/dL)</li>
					<li>b) Xantomas tuberosos o tendinosos antes de los 10 años de edad. Patognomónico los xantomas entre el pulgar e indice</li>
				</ul>


			</li>

			<li style="
    background: #e6e0e4;
    margin-top: 15px;
    font-weight: 500;
">II</li>
<li>Confirmación genética de ambos alelos con la misma mutación.</li>
			
		</ul>
	</div>
	<button ui-sref="diagnostico_hf_homo" class="cumple_criterior button">El Paciente Cumple<br>los Criterios Anteriores</button>
	<div style="width:100%; height:150px;"></div>

	
	
	  
</ion-content>

<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>