

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" back></a>
		<ul style="color:#606366">
			<li style="margin-top: 17px;line-height: 20px;margin-bottom: -20px;">DIAGNÓSTICO GENÉTICO<br>DE LA HIPERCOLESTEROLEMIA<br>FAMILIAR HETEROCIGÓTICA<br>Y COMBINADA<br><hr></li>
<li>La HF conbinada es más frecuente en nuestro medio que la HF Homo y Heterocigótica</li>
			<li style="background: #e6e0e4;margin-top: 15px;font-weight: 500;text-align:center;">PREVALECENCIA</li>
			<li style="padding: 0 !important;background: #eeeeee;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">1/300-1/500</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">1-2/100</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">HERENCIA</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Autosómica<br>dominante</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Autosómica<br>dominante</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">GEN(ES) AFECTADO(S)</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;vertical-align: top;
    height: 110px;">RLDL, APOB<br>PCSK9</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">USF1, LpL, ApoA1,<br>C3, AIV, AV,<br>(anormalidad<br>multigénica)</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">EDAD MANIFESTACIÓN</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;vertical-align: top;
    height: 65px;">Nacimiento</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Generalmente<br>&gt;10 años</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">FENOTIPO</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;vertical-align: top;
    height: 65px;">IIa</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Variable<br>IIa, IIb, IV</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">NIVELES DE CT</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Elevados<br>&gt;300mg/dL</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">&gt;240mg/dL</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">NIVELES DE TG</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Generalmente<br>normales</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Generalmente<br>&gt;150mg/dL</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">c-HDL</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Generalmente<br>normal</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Normal-bajo</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">ECV</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">30-55 años</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">40-55 años</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">XANTOMAS</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">PRESENTES &lt;30%</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Ausentes</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">ARCO CORNEAL</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Frecuente</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Poco Frecuente</div>
			</li>

			<li style="background: #e6e0e4;font-weight: 500;text-align:center;">ASOCIACIÓN CON HTA, DM2</li>
			<li style="padding: 0 !important;background: #eeeeee;border-bottom-style: solid;border-top-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 3px 0 3px 0;">HF</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 3px 0 3px 0;">HFC</div>
			</li>
			<li style="padding: 0 !important;background: white;background: white;border-bottom-style: solid;border-width: 1px;border-color: #d9d9d9;">
				<div style="width: 49%;display: inline-block;text-align: center;border-right-style: solid;border-width: 1px;border-color: #d9d9d9;padding: 10px 0 10px 0;">Poco frecuente</div>
				<div style="width: 49%;display: inline-block;text-align: center;padding: 10px 0 10px 0;">Frecuente</div>
			</li>
			
		</ul>
		<div style="width:100%; height:150px;"></div>

	</div>

	
	
	  
</ion-content>
<button ui-sref="modal_diagnostico_combinado2" class="continuar button">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>