
<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">Limitaciones Estatinas</h1>

</ion-header-bar>
<ion-content class="form_dislipenia" style="padding-bottom:300px;">
<h2 class="subtitle">Mialgias Manejo</h2>

      
	  <ul class="list lista">
	     <li class="item item-toggle" style="border-top:0px;">
     <label>Sintomático & CK&lt;4 x LSN</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="sintomatico" ng-click="sintomatico()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  		  <li class="item item-toggle">
     <label>CK&ge;4 x LSN &plusmn; rabdomiolisis</label><a style="position: absolute;margin-left: 9px;" ng-click="ir_modal_mialgias()"><img src="img/info.png"></a>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="rabdomiolisis" ng-click="rabdomiolisis()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  <div class="content_sintomatico">
		     	<p>2-4 Semanas De Lavado De Estatina</p>
		     	<li class="item item-toggle" style="border-top:0px;">
     <label>Persisten los síntomas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="persisten" ng-click="persisten()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  <li class="item item-toggle" style="border-top:0px;">
     <label>Mejoran los sintomas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="mejoran" ng-click="mejoran()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  <div class="persisten_sintomas">
		  	<p style="line-height: 50px;text-align: left;padding-left: 10px;position:relative; z-index:99;">Reintroducir La Estatina</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;margin-top: 20px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative; z-index:99;">No Alcanza El Objetivo cLDL<br>Recomendado</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;margin-top: 20px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative; z-index:99;">Asociar Ezetimibe, iPCSK9,<br>Resinas O Fibratos</p>
		  </div>
		  <div class="mejoran_sintomas">
		  	<p style="line-height: 20px;text-align: left;padding-left: 10px;position:relative;z-index:99;height: 53px;padding-top: 6px;">Inducir Una 2ª Estatina<br>A La Dosis Habitual De Inicio</p>
		  	<li class="item item-toggle" style="border-top:0px;">
     <label>Asintomático</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="persisten" ng-click="asintomatico()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  <li class="item item-toggle" style="border-top:0px;">
     <label>Reaparecen los sintomas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="mejoran" ng-click="reaparecen_sintomas()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     
		  </li>
		  <div class="asintomatico">
		  	<p style="line-height: 33px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;">Continuar La Estatina</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;    margin-top: 22px;">No alcanza al objetivo cLDL<br>RECOMENDADO</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;margin-top: 20px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative; z-index:99;">Asociar Ezetimibe, iPCSK9,<br>Resinas o Fibratos</p>
		  </div>

		  <div class="reaparecen_sintomas">
		  	<p style="line-height: 21px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;height: 119px;">Introducir Una 3ª Estatina<br>a dosis bajas,<br>o<br>estatina a días alternos<br>o una/dos veces por semana</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;    margin-top: 22px;">No alcanza el objetivo cLDL<br>RECOMENDADO</p><div class="siguiente_paso"></div>
		  	<p style="line-height: 19px;margin-top: 20px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative; z-index:99;">Asociar Ezetimibe, Ipcsk9,<br>Resinas o Fibratos</p>
		  </div>

		  	
		  </div>
		  
		     </div>

			 <div class="content_rabdomiolisis" style="margin-bottom:300px">
			 	<p style="line-height: 21px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;height: 83px;">6 Semanas de lavado de Estatina<br>hasta la normalización De<br>CK/creatinina y síntomas</p><div class="siguiente_paso"></div>
		     	<p style="line-height: 21px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;height: 119px;margin-top: 21px;">Introducir una 2ª Estatina<br>a dosis bajas,<br>o<br>Estatina a días alternos<br>o una/dos veces por semana</p><div class="siguiente_paso"></div>
			  	<p style="line-height: 19px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative;z-index:99;    margin-top: 22px;">No alcanza el objetivo cLDL<br>recomendado</p><div class="siguiente_paso"></div>
			  	<p style="line-height: 19px;margin-top: 20px;padding-top: 6px;text-align: left;padding-left: 10px;position:relative; z-index:99;">Asociar Ezetimibe, iPCSK9,<br>Resinas o Fibratos</p>
		     </div>
	  </ul>

	<div style="width:100%; height:300px;"></div>  
</ion-content>

<button back class="continuar button">Volver</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>