<ion-header-bar class="bar-stable bar-home">
        
        <h1 class="title">LIMITACIONES ESTANINAS</h1>
        
</ion-header-bar>
<ion-content class="limitaciones">


       
<img style="margin-top: 8%;" src="img/heart_big.png">
       

</ion-content>
<div class="botones_limitaciones">
        <button ui-sref="manejo_mialgias" class="button button-full button-light">
          MANEJO<br>DE LAS MIALGIAS
        </button>
        <button ui-sref="mialgiasscore" class="button button-full button-light">
          SCORE
        </button>
        <button ui-sref="factor_riesgo_mialgias" class="button button-full button-light">
          FACTORES DE RIESGO
        </button>
        <button ui-sref="interacciones_mialgias" class="button button-full button-light">
          FARMACOS QUE INTERACCIONAN<br>CON LAS ESTATINAS
        </button>
</div> 

<div class="tabs tabs-icon-only bar-footer">
        

  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item menu_icon_bottom">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>

