<ion-header-bar class="bar-stable bar-home">
        
        <h1 class="title">Limitaciones Estatinas</h1>
        
</ion-header-bar>
<ion-content class="limitaciones">


       
<img style="margin-top: 8%;" src="img/heart_big.png">
       

</ion-content>
<div class="botones_limitaciones">
        <button ui-sref="manejo_mialgias" class="button button-full button-light">
          Manejo<br>De Las Mialgias
        </button>
        <button ui-sref="mialgiasscore" class="button button-full button-light">
          Score
        </button>
        <button ui-sref="factor_riesgo_mialgias" class="button button-full button-light">
          Factores De Riesgo
        </button>
        <button ui-sref="interacciones_mialgias" class="button button-full button-light">
          Farmacos Que Interaccionan<br>con Las Estatinas
        </button>
</div> 

<div class="tabs tabs-icon-only bar-footer">
        

  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item menu_icon_bottom">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>

