<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">ESTATINAS</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">

<div class="pantalla_resultado pantalla_interacciones">
	  
	  
		<ul style="margin-bottom: 300px;">
			<li class="inter_flecha" id="atorv_inter">Atorvastatina
				    <li class="sub_atorv_inter item item-toggle aco">Tipranavir + Ritonavir<img class="aco_atorv" src="img/alerta.png">
				    <label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle ami">Telaprevir<img class="ami_atorv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle ant-cal">Lopinavir + Ritonavir<img class="ant_atorv"  src="img/alerta_baja.png"><label class="toggle" ><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Usar con precaución y con la menor dosis de atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle antia">Darunavir + Ritonavir<img class="antia_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">No exceder los 20mg diarios de Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle antif">Fosamprenavir<img class="antif_atorv" class="aco_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">No exceder los 20mg diarios de Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle asocl">Fosamprenavir + Ritonavir<img class="asocl_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">No exceder los 20mg diarios de Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle bar">Saquinavir + Ritonavir<img class="bar_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">No exceder los 20mg diarios de Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle bez">Nelfinavir<img class="bez_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">No exceder los 40mg diarios de Atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle boc">Fármacos INNRT<img class="boc_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Se pueden iniciar con dosis más altas que con los IP</div>

					<li class="sub_atorv_inter item item-toggle carb">Fármacos IRT<img class="carb_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					
			</li>
			<li class="inter_flecha" id="fluv_inter">Fluvastatina
				    <li class="sub_fluv_inter item item-toggle faco">Fármacos INNRT<img class="faco_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se pueden iniciar con dosis más altas que con los IP</div>

					<li class="sub_fluv_inter item item-toggle fantia">Fármacos IRT<img class="fantia_fluv"src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					
			</li>

			<li class="inter_flecha" id="lov_inter">Lovastatina
				    <li class="sub_lov_inter item item-toggle laco">Boceprevir<img class="laco_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_lov_inter item item-toggle lami">Fármacos INNRT<img class="lami_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">No recomendada</div>

					<li class="sub_lov_inter item item-toggle lanta">Fármacos IRT<img class="lanta_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">No recomendada</div>

					<li class="sub_lov_inter item item-toggle lantia">IP del VIH<img class="lantia_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_lov_inter item item-toggle lantif">Telaprevir<img class="lantif_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>
			</li>


			<li class="inter_flecha" id="pitav_inter">Pitavastatina
				    <li class="sub_pitav_inter item item-toggle paco">Atazanavir + Ritonavir<img class="paco_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin limitaciones de dosis</div>

					<li class="sub_pitav_inter item item-toggle pantia">Darunavir + Ritonavir<img class="pantia_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin limitaciones de dosis</div>

					<li style="height: 70px;" class="sub_pitav_inter item item-toggle pasocl">Fármacos INNRT<img class="pasocl_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					<li style="height: 100px;" class="sub_pitav_inter item item-toggle pasoco">Fármacos IRT<img class="pasoco_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					<li class="sub_pitav_inter item item-toggle pbez">Lopinavir + Ritonavir<img class="pbez_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin limitaciones de dosis</div>
			</li>




			<li class="inter_flecha" id="prav_inter">Pravastatina
				    <li class="sub_prav_inter item item-toggle praco">Darunavir + Ritonavir<img class="praco_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin limitaciones de dosis</div>

					<li class="sub_prav_inter item item-toggle prantia">Fármacos IRT<img class="prantia_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					<li class="sub_prav_inter item item-toggle prasocl">Fármacos INNRT<img class="prasocl_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se pueden iniciar con dosis más altas que con los IP</div>

					<li style="height: 100px;" class="sub_prav_inter item item-toggle prasoco">Lopinavir + Ritonavir<img class="prasoco_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin limitaciones de dosis</div>

					
			</li>






			<li class="inter_flecha" id="rosuv_inter">Rosuvastatina
				    <li class="sub_rosuv_inter item item-toggle raco">Atazanavir + Ritonavir<img class="raco_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Limitar la dosis a 10mg diarios de Rosuvastatina</div>

					<li class="sub_rosuv_inter item item-toggle rantia">Fármacos INNRT<img class="rantia_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Empezar con dosis bajas</div>

					<li style="height: 70px;" class="sub_rosuv_inter item item-toggle rasocl">Fármacos IRT<img class="rasocl_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Sin interacciones farmacológicas significativas</div>

					<li style="height: 100px;" class="sub_rosuv_inter item item-toggle rasoco">Lopinavir + Ritonavir<img class="rasoco_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Limitar la dosis a 10mg diarios de Rosuvastatina</div>

					
			</li>


			<li class="inter_flecha" id="simv_inter">Simvastatina
				    <li class="sub_simv_inter item item-toggle saco">Todos los IP del VIH<img class="saco_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_simv_inter item item-toggle sami">Telaprevir<img class="sami_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_simv_inter item item-toggle santa">Fármacos IRT<img class="santa_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">No recomendada</div>

					<li class="sub_simv_inter item item-toggle santia">Fármacos INNRT<img class="santia_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">No recomendada</div>

					<li style="height: 70px;" class="sub_simv_inter item item-toggle sasocl">Boceprevir<img class="sasocl_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>
			</li>
		</ul>
    </div>

    <div style="width:100%; height:350px;"></div>


</ion-content>
<button ng-click="filtrar_inter()" class="continuar button">CONTINUAR</button>

<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>