<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">ESTATINAS</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">

<div class="pantalla_resultado pantalla_interacciones">
	  
	  
		<ul style="margin-bottom: 300px;">
			<li class="inter_flecha" id="atorv_inter">Atorvastatina
				    <li class="sub_atorv_inter item item-toggle aco">ACO dicumarínicos <img class="aco_atorv" src="img/alerta_baja.png">
				    <label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_atorv_inter item item-toggle ami">Amiodarona<img class="ami_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Considerar usar dosis más bajas de atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle ant-cal">Antagonistas del calcio<img class="ant_atorv"  src="img/alerta_baja.png"><label class="toggle" ><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Considerar usar dosis más bajas de atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle antia">Antiácidos<img class="antia_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Separar la administración</div>

					<li class="sub_atorv_inter item item-toggle antif">Antifúngicos azólicos<img class="antif_atorv" class="aco_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración conjunta, pero si no es posible hay que considerar el uso de las dosis iniciales y máximas más bajas de atorvastatina</div>

					<li style="height: 70px;" class="sub_atorv_inter item item-toggle asocl">Asociación Ledipasvir<br>Sofosbuvir<img class="asocl_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Considerar la administración de dosis reducidas de estatinas</div>

					<li class="sub_atorv_inter item item-toggle bar">Barbitúricos<img class="bar_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_atorv_inter item item-toggle bez">Bezafibrato<img class="bez_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_atorv_inter item item-toggle boc">Boceprevir<img class="boc_atorv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_atorv_inter item item-toggle carb">Carbamacepina<img class="carb_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_atorv_inter item item-toggle cicl">Ciclosporina<img class="cicl_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Utilizar una dosis máxima de 10 mg</div>

					<li class="sub_atorv_inter item item-toggle cil">Cilostazol<img class="cil_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_atorv_inter item item-toggle colc">Colchicina<img class="colc_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_atorv_inter item item-toggle dacl">Daclatasvir<img class="dacl_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución</div>

					<li class="sub_atorv_inter item item-toggle dan">Danazol<img class="dan_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración conjunta, pero si no es posible hay que considerar el uso de las dosis iniciales y máximas más bajas de atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle dron">Dronedarona<img class="dron_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas</div>

					<li class="sub_atorv_inter item item-toggle feno">Fenofibrato<img class="feno_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_atorv_inter item item-toggle gim">Gemfibrozilo<img class="gim_atorv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_atorv_inter item item-toggle macro">Macrólidos<img class="macro_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración conjunta, pero si no es posible hay que considerar el uso de las dosis iniciales y máximas más bajas de atorvastatina</div>

					<li class="sub_atorv_inter item item-toggle res">Resinas<img class="res_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Separar de la administración de hipolipemiantese</div>

					<li class="sub_atorv_inter item item-toggle rif">Rifampicina<img class="rif_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_atorv_inter item item-toggle sime">Simeprevir<img class="sime_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis mínima necesaria mientras se monitoriza la seguridad. Utilizar una dosis máxima de 40 mg</div>

					<li class="sub_atorv_inter item item-toggle tela">Telaprevir<img class="tela_atorv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_atorv_inter item item-toggle zumo">Zumo de pomelo<img class="zumo_atorv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_ator"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Debe evitarse el consumo de zumo de pomelo durante el tratamiento</div>
			</li>
			<li class="inter_flecha" id="fluv_inter">Fluvastatina
				    <li class="sub_fluv_inter item item-toggle faco">ACO dicumarínicos<img class="faco_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_fluv_inter item item-toggle fantia">Antiácidos<img class="fantia_fluv"src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Separar la administración</div>

					<li style="height: 100px;"class="sub_fluv_inter item item-toggle fasoco">Asociación Ombitasvir<br>Paritaprevir/Ritonavir con o<br>sin Dasabuvir<img class="fasoco_fluv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar la administración de la estatina durante el tratamiento con la asociación antiviral. Si no es factible, cambiar a una dosis reducida de pravastatina o rosuvastatina</div>

					<li class="sub_fluv_inter item item-toggle fbez">Bezafibrato<img class="fbez_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_fluv_inter item item-toggle fcicl">Ciclosporina<img class="fcicl_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li><div class="aviso_interacciones">Precaución</div>

					<li class="sub_fluv_inter item item-toggle fcolc">Colchicina<img class="fcolc_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li><div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_fluv_inter item item-toggle fdacl">Daclatasvir<img class="fdacl_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución</div>

					<li class="sub_fluv_inter item item-toggle fdron">Dronedarona<img class="fdron_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas 
</div>

					<li class="sub_fluv_inter item item-toggle ferit">Eritromicina<img class="ferit_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_fluv_inter item item-toggle ffen">Fenofibrato<img class="ffen_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_fluv_inter item item-toggle ffluc">Fluconazol<img class="ffluc_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_fluv_inter item item-toggle fgem">Gemfibrozilo<img class="fgem_fluv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_fluv_inter item item-toggle fres">Resinas<img class="fres_fluv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_fluv"><div class="track"><div class="handle"></div></div></label></li>
					<div class="aviso_interacciones">Separar de la administración de hipolipemiantes</div>
			</li>

			<li class="inter_flecha" id="lov_inter">Lovastatina
				    <li class="sub_lov_inter item item-toggle laco">ACO dicumarínicos<img class="laco_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_lov_inter item item-toggle lami">Amiodarona<img class="lami_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Con amiodarona, verapamilo o diltiazem: dosis máxima de lovastatina 40 mg</div>

					<li class="sub_lov_inter item item-toggle lanta">Antagonistas del calcio<img class="lanta_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Con amiodarona, verapamilo o diltiazem: dosis máxima de lovastatina 40 mg</div>

					<li class="sub_lov_inter item item-toggle lantia">Antiácidos<img class="lantia_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar la administración</div>

					<li class="sub_lov_inter item item-toggle lantif">Antifúngicos azólicos<img class="lantif_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li style="height: 70px;" class="sub_lov_inter item item-toggle lasocl">Asociación Ledipasvir<br>Sofosbuvir<img class="lasocl_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Considerar la administración de dosis reducidas de estatinas</div>

					<li class="sub_lov_inter item item-toggle lbar">Barbitúricos<img class="lbar_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_lov_inter item item-toggle lbez">Bezafibrato<img class="lbez_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_lov_inter item item-toggle lboc">Boceprevir<img class="lboc_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_lov_inter item item-toggle lcarb">Carbamacepina<img class="lcarb_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_lov_inter item item-toggle lcicl">Ciclosporina<img class="lcicl_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Utilizar una dosis máxima de 20 mg</div>

					<li class="sub_lov_inter item item-toggle lcil">Cilostazol<img class="lcil_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_lov_inter item item-toggle lcol">Colchicina<img class="lcol_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_lov_inter item item-toggle ldac">Daclatasvir<img class="ldac_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución</div>

					<li class="sub_lov_inter item item-toggle ldan">Danazol<img class="ldan_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_lov_inter item item-toggle ldron">Dronedarona<img class="ldron_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas</div>

					<li class="sub_lov_inter item item-toggle lfen">Fenofibrato<img class="lfen_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_lov_inter item item-toggle lgem">Gemfibrozilo<img class="lgem_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_lov_inter item item-toggle lmacro">Macrólidos<img class="lmacro_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_lov_inter item item-toggle lres">Resinas<img class="lres_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar de la administración de hipolipemiantes</div>

					<li class="sub_lov_inter item item-toggle lrif">Rifampicina<img class="lrif_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_lov_inter item item-toggle lsim">Simeprevir<img class="lsim_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis mínima necesaria mientras se monitoriza la seguridad</div>

					<li class="sub_lov_inter item item-toggle ltel">Telaprevir<img class="ltel_lov" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_lov_inter item item-toggle lzumo">Zumo de pomelo<img class="lzumo_lov" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_lov"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Debe evitarse el consumo de zumo de pomelo durante el tratamiento</div>
			</li>


			<li class="inter_flecha" id="pitav_inter">Pitavastatina
				    <li class="sub_pitav_inter item item-toggle paco">ACO dicumarínicos<img class="paco_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_pitav_inter item item-toggle pantia">Antiácidos<img class="pantia_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar la administración</div>

					<li style="height: 70px;" class="sub_pitav_inter item item-toggle pasocl">Asociación Ledipasvir<br>Sofosbuvir<img class="pasocl_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Considerar la administración de dosis reducidas de estatinas</div>

					<li style="height: 100px;" class="sub_pitav_inter item item-toggle pasoco">Asociación Ombitasvir<br>Paritaprevir/Ritonavir con<br>o sin Dasabuvir<img class="pasoco_pitav" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar la administración de la estatina durante el tratamiento con la asociación antiviral. Si no es factible, cambiar a una dosis reducida de pravastatina o rosuvastatina</div>

					<li class="sub_pitav_inter item item-toggle pbez">Bezafibrato<img class="pbez_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_pitav_inter item item-toggle pcicl">Ciclosporina<img class="pcicl_pitav" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_pitav_inter item item-toggle pcol">Colchicina<img class="pcol_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_pitav_inter item item-toggle pdacl">Daclatasvir<img class="pdacl_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución</div>

					<li class="sub_pitav_inter item item-toggle pdrone">Dronedarona<img class="pdrone_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas</div>

					<li class="sub_pitav_inter item item-toggle perit">Eritromicina<img class="perit_pitav" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Suspender temporalmente el tratamiento con pitavastatina durante el tratamiento antibiótico</div>

					<li class="sub_pitav_inter item item-toggle pfen">Fenofibrato<img class="pfen_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_pitav_inter item item-toggle pgem">Gemfibrozilo<img class="pgem_pitav" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_pitav_inter item item-toggle pres">Resinas<img class="pres_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar de la administración de hipolipemiantese</div>

					<li class="sub_pitav_inter item item-toggle psim">Simeprevir<img class="psim_pitav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_pita"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis mínima necesaria mientras se monitoriza la seguridad</div>
			</li>




			<li class="inter_flecha" id="prav_inter">Pravastatina
				    <li class="sub_prav_inter item item-toggle praco">ACO dicumarínicos<img class="praco_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_prav_inter item item-toggle prantia">Antiácidos<img class="prantia_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar la administración</div>

					<li style="height: 70px;" class="sub_prav_inter item item-toggle prasocl">Asociación Ledipasvir<br>Sofosbuvir<img class="prasocl_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Considerar la administración de dosis reducidas de estatinas</div>

					<li style="height: 100px;" class="sub_prav_inter item item-toggle prasoco">Asociación Ombitasvir<br>Paritaprevir/Ritonavir con<br>o sin Dasabuvir<img class="prasoco_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Reducir la dosis de pravastatina en un 50%</div>

					<li class="sub_prav_inter item item-toggle prbez">Bezafibrato<img class="prbez_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_prav_inter item item-toggle prcolc">Colchicina<img class="prcolc_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_prav_inter item item-toggle prdacl">Daclatasvir<img class="prdacl_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución</div>

					<li class="sub_prav_inter item item-toggle prdrone">Dronedarona<img class="prdrone_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas</div>

					<li class="sub_prav_inter item item-toggle prfeno">Fenofibrato<img class="prfeno_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_prav_inter item item-toggle prgem">Gemfibrozilo<img class="prgem_prav" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_prav_inter item item-toggle prres">Resinas<img class="prres_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar de la administración de hipolipemiantes</div>

					<li class="sub_prav_inter item item-toggle prsim">Simeprevir<img class="prsim_prav" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_prav"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis miínima necesaria mientras se monitoriza la seguridad</div>
			</li>






			<li class="inter_flecha" id="rosuv_inter">Rosuvastatina
				    <li class="sub_rosuv_inter item item-toggle raco">ACO dicumarínicos<img class="raco_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_rosuv_inter item item-toggle rantia">Antiácidos<img class="rantia_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar la administración</div>

					<li style="height: 70px;" class="sub_rosuv_inter item item-toggle rasocl">Asociación Ledipasvir<br>Sofosbuvir<img class="rasocl_rosuv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li style="height: 100px;" class="sub_rosuv_inter item item-toggle rasoco">Asociación Ombitasvir<br>Paritaprevir/Ritonavir con<br>o sin Dasabuvir<img class="rasoco_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Utilizar una dosis máxima de 10 mg 
Si el tratamiento incluye Dasabuvir se recomienda utilizar una dosis máxima de 5 mg</div>

					<li class="sub_rosuv_inter item item-toggle rbar">Barbitúricos<img class="rbar_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia 
</div>

					<li class="sub_rosuv_inter item item-toggle rbez">Bezafibrato<img class="rbez_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_rosuv_inter item item-toggle rcarb">Carbamacepina<img class="rcarb_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_rosuv_inter item item-toggle rcicl">Ciclosporina<img class="rcicl_rosuv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Contraindicado su uso conjunto</div>

					<li class="sub_rosuv_inter item item-toggle rcolc">Colchicina<img class="rcolc_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_rosuv_inter item item-toggle rdacl">Daclatasvir<img class="rdacl_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución</div>

					<li class="sub_rosuv_inter item item-toggle rdrone">Dronedarona<img class="rdrone_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas</div>

					<li class="sub_rosuv_inter item item-toggle rerit">Eritromicina<img class="rerit_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_rosuv_inter item item-toggle rfen">Fenofibrato<img class="rfen_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_rosuv_inter item item-toggle rgem">Gemfibrozilo<img class="rgem_rosuv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_rosuv_inter item item-toggle rres">Resinas<img class="rres_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar de la administración de hipolipemiantes</div>

					<li class="sub_rosuv_inter item item-toggle rrif">Rifampicina<img class="rrif_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_rosuv_inter item item-toggle rsim">Simeprevir<img class="rsim_rosuv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_rosu"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis mínima necesaria mientras se monitoriza la seguridad
Utilizar una dosis máxima de 10 mg</div>
			</li>


			<li class="inter_flecha" id="simv_inter">Simvastatina
				    <li class="sub_simv_inter item item-toggle saco">ACO dicumarínicos<img class="saco_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Se debe monitorizar el INR cuando se inicia, se modifica la dosis o se interrumpe el tratamiento con una estatina</div>

					<li class="sub_simv_inter item item-toggle sami">Amiodarona<img class="sami_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Con amiodarona, amlodipino, verapamilo o diltiazem: dosis máxima de simvastatina 20 mg</div>

					<li class="sub_simv_inter item item-toggle santa">Antagonistas del calcio<img class="santa_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Con amiodarona, amlodipino, verapamilo o diltiazem: dosis máxima de simvastatina 20 mg </div>

					<li class="sub_simv_inter item item-toggle santia">Antiácidos<img class="santia_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar la administración</div>

					<li style="height: 70px;" class="sub_simv_inter item item-toggle sasocl">Asociación Ledipasvir<br>Sofosbuvir<img class="sasocl_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Considerar la administración de dosis reducidas de estatinas</div>

					<li class="sub_simv_inter item item-toggle sbarb">Barbitúricos<img class="sbarb_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_simv_inter item item-toggle sbez">Bezafibrato<img class="sbez_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_simv_inter item item-toggle sboce">Boceprevir<img class="sboce_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_simv_inter item item-toggle scarb">Carbamacepina<img class="scarb_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia </div>

					<li class="sub_simv_inter item item-toggle scicl">Ciclosporina<img class="scicl_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Utilizar una dosis máxima de 10 mg</div>

					<li class="sub_simv_inter item item-toggle scil">Cilostazol<img class="scil_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución con el uso conjunto</div>

					<li class="sub_simv_inter item item-toggle scolc">Colchicina<img class="scolc_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Puede potenciar el riesgo de miopatías. Precaución en insuficiencia renal</div>

					<li class="sub_simv_inter item item-toggle sdacl">Daclatasvir<img class="sdacl_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución</div>

					<li class="sub_simv_inter item item-toggle sdrone">Dronedarona<img class="sdrone_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Iniciar las estatinas a las dosis más bajas </div>

					<li class="sub_simv_inter item item-toggle sfeno">Fenofibrato<img class="sfeno_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Monitorización por riesgo de toxicidad muscular</div>

					<li class="sub_simv_inter item item-toggle sgem">Gemfibrozilo<img class="sgem_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar uso conjunto</div>

					<li class="sub_simv_inter item item-toggle sres">Resinas<img class="sres_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Separar de la administración de hipolipemiantese</div>

					<li class="sub_simv_inter item item-toggle srif">Rifampicina<img class="srif_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Podría ser necesario ajustar la dosis de estatina por posible reducción de su eficacia</div>

					<li class="sub_simv_inter item item-toggle ssim">Simeprevir<img class="ssim_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Precaución. Ajustar la dosis de la estatina y usar la dosis mínima necesaria mientras se monitoriza la seguridad
Utilizar una dosis máxima de 40 mg
</div>

					<li class="sub_simv_inter item item-toggle stel">Telaprevir<img class="stel_simv" src="img/alerta.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Evitar la administración conjunta. Si no es posible, considerar el uso de las dosis iniciales y máximas más bajas</div>

					<li class="sub_simv_inter item item-toggle szumo">Zumo de pomelo<img class="szumo_simv" src="img/alerta_baja.png"><label class="toggle"><input type="checkbox" class="check_sim"><div class="track"><div class="handle"></div></div></label></li>
				    <div class="aviso_interacciones">Debe evitarse el consumo de zumo de pomelo durante el tratamiento</div>
			</li>
		</ul>
    </div>

    <div style="width:100%; height:350px;"></div>


</ion-content>
<button ng-click="filtrar_inter()" class="continuar button procedencia1">CONTINUAR</button>
<button ui-sref="menu_interacciones2" class="continuar button procedencia2">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>