<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">Tratamiento de la Dislipemia</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">
<h2 class="subtitle">3 de 3 Tratamiento</h2>
<div class="pantalla_resultado">
<!-- 	<div class="campos_res_gris">
	  	
	  	<input type="text" id="ldl_act_tratamiento0">
	  	<input type="text" id="porcentaje_red_tratamiento0">
	    <input type="text" id="ldl_obj_tratamiento0">
	    

	  </div> -->
	  
	  <div class="campos_res">
	  	
	  	<input type="text" id="ldl_act_tratamiento_red" readonly="readonly">
	  	<input type="text" id="porcentaje_red_tratamiento" readonly="readonly">
	    <input type="text" id="ldl_obj_tratamiento_red" readonly="readonly">
	    <a class="info_tratamiento" ng-click="ir_info_previo()"></a>
		
	  </div>
	  <i ng-click="info_grupos()" class="icon ion-ios-information-outline inf-red info_grupos"></i>
	  <p style="
    color: #606366;
    position: absolute;
    z-index: 999;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    margin-top: 23px;
">Haga click en los gráficos para conocer<br>las opciones que mejor se adaptan al paciente</p>
      <div class="eje_actual">ACTUAL</div>
<div id="valor_eje_actual" class="valor_eje_actual"></div>
       <div class="origen_eje">0</div>

<img class="imagen_eje" src="img/eje.jpg">
      
</div>

      
	  <ul style="margin-top: -25px;background: white;" class="list lista listado_medicacion">

	  	<hr style="width: 1;height: 100%;position: absolute;top: -7px;left: 24px;z-index: 99999;border-width: 1px;border-bottom: none;border-top: none;border-right: none;border-color: black;border-left-style: dashed;">
	  	<hr style="width: 0px;height: 100%;position: absolute;top: -7px;right: 24px;z-index: 99999;border-width: 1px;border-bottom: none;border-top: none;border-right: none;border-color: black;">
	  	<div class="premarcador"><p id="marcador_desliz" class="marcador_objetivo">OBJETIVO</p><p class="objetivo_desliz">30%</p><hr class="marcador"></div>




	  	<!-- <li ng-repeat="(key, value) in displenias" class="{{ value.tipo }} {{ value.dosis }}">
				<p>{{ value.medicacion }}</p>
				<div style="background: url('img/barra_progreso.png'); width: 190px; height: 25px; margin-left:15px">
					<div style="width:{{ value.porcentaje }}%"><span>{{ value.porcentaje | number:0 }}%</span></div>
				</div>
				
			</li> -->



			<li  ng-repeat="(key, value) in grupos_sin_contra" class="{{ value.url }}">
				<p style="margin-bottom: 0;">{{ value.categoria }}</p>
				
				
				
				<div ui-sref="{{ value.url }}" style="background: transparent; width: 90%; height: 25px; margin-left:15px">
					<div ng-if="reduccionscope < value.media" class="barras_grupos {{ value.url }}" style="width:{{ value.media }}%"><!-- <span>{{ value.media | number:0 }}%</span> -->
					
						<!-- <img ng-if="estatinas_interaccion_alta == value.estatina" class="alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="ezetimive_interaccion_alta == value.fibrato" class="alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatinas_interaccion_baja == value.estatina" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="ezetimive_interaccion_baja == value.fibrato" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png"> -->

						
						<img ng-if="estatina_grupos_ebi_rojo == value.EBI" class="alerta_grupo_alta {{ value.EBI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatina_grupos_emi_rojo == value.EMI" class="alerta_grupo_alta {{ value.EMI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatina_grupos_eai_rojo == value.EAI" class="alerta_grupo_alta {{ value.EAI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="ezetimive_interaccion_alta == value.fibrato" class="alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">

						<img ng-if="estatina_grupos_ebi == value.EBI" class="alerta_grupo_baja {{ value.EBI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="estatina_grupos_emi == value.EMI" class="alerta_grupo_baja {{ value.EMI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="estatina_grupos_eai == value.EAI" class="alerta_grupo_baja {{ value.EAI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">

						<img ng-if="ezetimive_interaccion_baja == value.fibrato" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
					</div>

					<div ng-if="reduccionscope > value.media" class="barras_grupos {{ value.url }}" style="background-color: red;width:{{ value.media }}%"><!-- <span>{{ value.media | number:0 }}%</span> -->

						<img ng-if="estatina_grupos_ebi_rojo == value.EBI" class="alerta_grupo_alta {{ value.EBI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatina_grupos_emi_rojo == value.EMI" class="alerta_grupo_alta {{ value.EMI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatina_grupos_eai_rojo == value.EAI" class="alerta_grupo_alta {{ value.EAI }}" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="ezetimive_interaccion_alta == value.fibrato" class="alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">

						<img ng-if="estatina_grupos_ebi == value.EBI" class="alerta_grupo_baja {{ value.EBI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="estatina_grupos_emi == value.EMI" class="alerta_grupo_baja {{ value.EMI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="estatina_grupos_eai == value.EAI" class="alerta_grupo_baja {{ value.EAI }}" style="position: absolute;right: 29px;" src="img/alerta_baja.png">

						<img ng-if="ezetimive_interaccion_baja == value.fibrato" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png">

<!-- 						<img ng-if="estatinas_interaccion_alta == value.estatina" class="value.estatina alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="ezetimive_interaccion_alta == value.fibrato" class="alerta_grupo_alta" style="position: absolute;right: 60px;" src="img/alerta.png">
						<img ng-if="estatinas_interaccion_baja == value.estatina" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png">
						<img ng-if="ezetimive_interaccion_baja == value.fibrato" class="alerta_grupo_baja" style="position: absolute;right: 29px;" src="img/alerta_baja.png"> -->
					</div>

				</div>
				<script type="text/javascript">
					console.log("prueba");
				</script>
				
			</li>	    
		  
	  </ul>
	  <div style="width:100%; height:50px;"></div>


</ion-content>
<button class="continuar button boton_finalizar">Finalizar</button>
<button ui-sref="menu_interacciones" class="continuar button boton_interacciones">Ver Interacciones</button>
<button ui-sref="contraindicaciones" class="continuar button boton_contraindicaciones">Ver Contraindicaciones</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>