

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" back></a>
		<ul style="color:#606366">
			<li>Factores de Riesgo<br>Cardiovascular<br>HTA severa<br><hr></li>
			<li style="margin-bottom: -18px;background: white;">(1)</li>
			<li style="background: white;">PAS &ge; 180 mmHg o PAD &ge; 110 mmHg.</li>
			<li style="margin-bottom: -18px;">(2)</li>
			<li>PAS &ge; 160 mmHg o PAD &ge; 110 mmHg y &ge; 3 FRCVs.</li>
			<li style="margin-bottom: -18px;background: white;">(3)</li>
			<li style="background: white;">PAS &ge; 140 mmHg o PAD &ge; 90 mmHg y LOD, ERC estadio 3 o diabetes.</li>
			<li style="margin-bottom: -18px;">(4)</li>
			<li>PAS &ge; 130 mmHg o PAD &ge; 85 mmHg y ECV sintomática, ERC estadio &ge;4 o diabetes con LOD o FRCVs,</li>
			
		</ul>
	</div>

	<div style="width:100%; height:150px;"></div>
	
	  
</ion-content>
<button back class="continuar button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a  ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>