<ion-header-bar class="bar-stable bar-home">
        
        <h1 style="font-size: 15px;" class="title">Interacciones Farmacológicas</h1>
        
</ion-header-bar>
<ion-content class="limitaciones">


       
<img src="img/heart_big.png">
       

</ion-content>
<div class="botones_limitaciones" style="margin-bottom: 100px;">
        <button ui-sref="estatinas_vih" class="button button-full button-light">
          Estatinas
        </button>
        <button ui-sref="ezetimibe_vih" class="button button-full button-light">
          Ezetimive
        </button>
        <button ui-sref="fibratos_vih" class="button button-full button-light">
          Fibratos
        </button>
</div> 
<button ui-sref="premenu_interacciones2" class="continuar button">Continuar</button>

<div class="tabs tabs-icon-only bar-footer">
        

  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item menu_icon_bottom">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>

