<ion-header-bar class="bar-stable bar-home">
        
        <h1 class="title">INTERACCIONES FARMACOLÓGICAS</h1>
        
</ion-header-bar>
<ion-content class="limitaciones">


       
<img src="img/heart_big.png">
       

</ion-content>
<div class="botones_limitaciones">
        <button ui-sref="estatinas" class="button button-full button-light">
          ESTATINAS
        </button>
        <button ui-sref="fibratos" class="button button-full button-light">
          FIBRATOS
        </button>
</div> 

<div class="tabs tabs-icon-only bar-footer">
        

  

        <a ui-sref="tratamientoinicio2" class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item menu_icon_bottom">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>

