

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" ui-sref="home"></a>
		<ul style="color:#606366">
			<li class="ver_interior_presentacion" style="color: white;font-weight: 500;background: #86253C;padding: 10px !important;line-height: inherit;    margin-top: 58px;    margin-bottom: 5px;">Presentación<br></li>
			<li class="interiores interior_presentacion">Ponemos a tu disposición esta aplicación dirigida a facilitar el manejo de las dislipemias, con la intención de que sirva de ayuda al médico en la toma de decisiones delante de su paciente. Como bien sabes, la disminución del colesterol LDL es un objetivo fundamental en la prevención primaria y secundaria de la cardiopatía isquémica, siendo el factor de riesgo más relevante junto con el tabaquismo en la reducción del riesgo cardiovascular de nuestros pacientes. 
En los últimos dos años se han publicado resultados sobre dos grupos terapéuticos que, al añadirse a las estatinas, incrementan la potencia hipolipemiante de forma muy relevante. En 2014 se publicaron los resultados con un inhibidor de la absorción intestinal del colesterol, y durante el ultimo año se han presentado resultados con dos fármacos inhibidores de PCSK9. 
El tratamiento hipolipemiante puede verse acompañado de algunos efectos indeseables e infrecuentes, como las mialgias y la diabetogenicidad de las estatinas, que deben ser tenidos en cuenta. En el primer caso, las mialgias pueden confundirse con otros dolores articulares, tendinosos o también musculares que no tienen relación con las estatinas. En el segundo caso, la diabetogenicidad es un aspecto a tener en cuenta, especialmente en cierto perfil de pacientes, sin que esto sea una justificación para no prescribir estatinas porque el beneficio es claramente superior al riesgo. 
Por todo ello, esta aplicación se ha desarrollado para facilitar la toma de decisiones, utilizando las mejoras evidencias y recomendaciones disponibles en cada caso. Se ha diseñado con el propósito de ser lo más sencilla posible en su uso en práctica clínica, pero que los resultados sean lo más exhaustivos posibles. 
Los autores queremos agradecer el apoyo desinteresado prestado por Sanofi para el desarrollo de esta aplicación, en la que hemos podido trabajar con total autonomía, y por ello, con total responsabilidad.  Solo nos queda esperar que vuestro juicio sea favorable, y que gracias a esta aplicación, los pacientes se beneficien del mejor tratamiento posible en el campo de las dislipemias, pensando en la mínimización del riesgo cardiovascular y en la mejoría pronóstica.
</li>
<li class="ver_interior_nota_autores" style="color: white;font-weight: 500;background: #86253C;    margin-bottom: 5px;">Nota de los autores<br></li>
<li class="interiores interior_nota_autores">En las diversas recomendaciones que se dan en esta aplicación sobre el manejo de las dislipemia se ha utilizado y referenciado la evidencia científica disponible en cada momento. Cuando no existen datos publicados, hemos procurado utilizar nuestra experiencia y juicio clínico, a la espera de que surjan pruebas en las que apoyar recomendaciones más fundadas. Con respecto a evolocumab y alirocumab, sobre el que no tenemos experiencia personal, las recomendaciones se realizan exclusivamente en base a los datos publicados.</li>
<li class="ver_interior_autores" style="color: white;font-weight: 500;background: #86253C;    margin-bottom: 5px;">Coordinador y autores<br></li>
<li class="interiores interior_autores" style="color: #86253C;">Coordinación<br></li>
<li class="interiores interior_autores">Domingo Marzal Martín<br>Servicio de Cardiología. Complejo Hospitalario de Mérida</li>
<li class="interiores interior_autores" style="color: #86253C;">Autores<br></li>
<li class="interiores interior_autores">Dra. Almudena Castro Conde.<br>
Servicio de Cardiología. Hospital Universitario La Paz. Madrid.<br>
<br><br>
Dr. Xavier García-Moll Marimon<br>
Servicio de Cardiología. Hospital de la Santa Creu i Sant Pau. Barcelona<br>
<br><br>
Domingo Marzal Martín<br>
Servicio de Cardiología. Complejo Hospitalario de Mérida<br><br>
Dr. Luis Masana Marín.<br>Unidad de Lípidos.<br>
Hospital Sant Joan de Reus. Reus</li>
<li class="ver_interior_creditos" style="color: white;font-weight: 500;background: #86253C;    margin-bottom: 5px;">Créditos<br></li>
<li class="interiores interior_creditos">Un proyecto de:<br>
<div class="logos_presentacion" style="text-align:center;"><img src="img/logo-cardio.png"><br>
<img src="img/logo-sea.png"><br>
</div></li>
<li class="interiores interior_creditos">Con la colaboración de:<br><div class="logos_presentacion" style="text-align:center;"><img style="width:123px;" src="img/sanofi.png"></div></li>
<li class="ver_interior_referencias" style="color: white;font-weight: 500;background: #86253C;    margin-bottom: 5px;">Referencias<br></li>
<li class="interiores interior_referencias">
	C.Y. Yu, et al. AIDS 2012 – XIX International AIDS Conference. Washington, USA, July 22- 27, 2012.<br><br>

Defesche J. Familial Hypercholesterolemia. In: Betteridge J. Lipids and vascular disease. London: Martin Dunitz; 2000;6:65-76. <br><br>

Enferm Infecc Microbiol Clin. 2015;33(1):40.e1-40.e16 <br><br>

European AIDS Clinical Society (EACS) Guidelines. Version 6.0. Accessed 3 July 2012.<br><br>

Grupo de expertos del Grupo de Estudio sobre Alteraciones Metabólicas (GEAM), de la Secretaría del Plan Nacional sobre el Sida (SPNS) y del Grupo de Estudio de Sida (GeSIDA). Documento de consenso sobre alteraciones metabólicas y riesgo cardiovascular en pacientes con infección por el virus de la inmunodeficiencia humana. <br><br>

Mancia G, et al. 2013 ESH/ESC Guidelines for the management of arterial hypertension. Eur Heart J. doi:10.1093/eurheartj/eht151.<br><br>

Masana L, et al. Rev Esp Cardiol 2016; doi.org/10.1016/j.recesp.2015.11.016<br><br>

Mata P, et al. Aten Primaria 2014. h p://dx.doi.org/10.1016/j.aprim.2013.12.015<br><br>

Mata P, et al. Semergen. 2014;40:374-80<br><br>

Rosenson RS, et al. J Clin Lipidol. 2014;8:558-71.<br><br>

Rydén L, et al. Eur Heart J. 2013;34:3035-87.<br><br>

Sattar NA, et al. Atheroscler Suppl. 2014;15:1-15.<br><br>

Stroes ES, et al. Eur Heart J. 2015;36:1012-22<br><br>

Tungsiripat M, et al. Cleve Clin J Med. 2005;72:1113-20.<br>

</li>
<li class="ver_interior_abreviaturas" style="color: white;font-weight: 500;background: #86253C;    margin-bottom: 5px;">Abreviaturas<br></li>
<li class="interiores interior_abreviaturas">
	<ul>
  <li style="color: inherit;
    font-weight: initial;
    padding-bottom: 10px !important;
    line-height: initial;"><strong>·ACO:</strong> anticoagulantes orales</li>
  <li><strong>·CK:</strong> Creatinquinasa</li>
  <li><strong>·cLDL:</strong> colesterol ligado a lipoproteinas de baja densidad</li>
  <li>cms: centímetros</li>
  <li><strong>·CT:</strong> colesterol total; DM: diabetes mellitus </li>
  <li><strong>·DM:</strong> diabetes mellitus</li>
  <li><strong>·DM2:</strong> diabetes mellitus tipo 2</li>
  <li><strong>·ECV:</strong> enfermedad cardiovascular</li>
  <li><strong>·ERC:</strong> enfermedad renal crónica</li>
  <li><strong>·FRCV:</strong> factores de riesgo cardiovascular </li>
  <li><strong>·HbA1c:</strong> hemoglobina glicosilada.</li>
  <li><strong>·HF:</strong> hipercolesterolemia familiar.</li>
  <li><strong>·HFC:</strong> hipercolesterolemia familiar combinada</li>
  <li><strong>·HFHo:</strong> hipercolesterolemia familiar homocigota.</li>
  <li><strong>·HTA:</strong> hipertensión arterial</li>
  <li><strong>·IFG:</strong> índice de filtrado glomerular.</li>
  <li><strong>·IMC:</strong> índice de masa corporal</li>
  <li><strong>·INNRT:</strong> inhibidores de la transcriptasa inversa no análogos de nucleosides</li>
  <li><strong>·INR:</strong> International:</li>
  <li><strong>·IP:</strong> inhibidores de la protease</li>
  <li><strong>·iPCSK9:</strong> inhibidores de la Proproteina Convertasa Subtilisin/Kexin tipo 9</li>
  <li><strong>·IRT:</strong> inhibidoresVIH: virus inmunodeficiencia humana.</li>
  <li><strong>·Kg:</strong> kilogramos</li>
  <li><strong>·LES:</strong> lupues eritematoso sistémico</li>
  <li><strong>·LOD:</strong> lesión de órgano diana.</li>
  <li><strong>·Lp(a):</strong> lipoproteina a</li>
  <li><strong>·LSN:</strong> límite superior de la normalidad.</li>
  <li><strong>·m: </strong>metros.</li>
  <li><strong>·MDRD:</strong> Modification of Diet in Renal Disease.</li>
  <li><strong>·MMSS:</strong> miembros superiores.</li>
  <li><strong>·PAD:</strong> presión arterial diastólica</li>
  <li><strong>·PAS:</strong> presión arterial sistólica.</li>
  <li><strong>·RCLH:</strong> red de clínicas de lípidos de Holanda.</li>
  <li><strong>·RCV:</strong> riesgo cardiovascular.</li>
  <li><strong>·TAR:</strong> tratamiento antirretroviral </li>
  <li><strong>·TG:</strong> triglicéridos.</li>
  <li><strong>·VHC:</strong> virus hepatitis C.</li>
  <li><strong>·VIH:</strong> virus de la inmudeficiencia humana.</li>
</ul>
</li>




			
		</ul>
	</div>
<div style="width:100%; height:350px;"></div>
	
	
	  
</ion-content>
<button ui-sref="formulariodislipemia" class="continuar button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>