

<ion-content class="form_dislipenia">
	<div class="factores_cuadro">
		<a class="cerrar" ui-sref="home"></a>
		<ul style="color:#606366">
			<li>PRESENTACIÓN<br><hr></li>
			<li>Ponemos a tu disposición esta aplicación dirigida a facilitar el manejo de las dislipemias, con la intención de que sirva de ayuda al médico en la toma de decisiones delante de su paciente. Como bien sabes, la disminución del colesterol LDL es un objetivo fundamental en la prevención primaria y secundaria de la cardiopatía isquémica, siendo el factor de riesgo más relevante junto con el tabaquismo en la reducción del riesgo cardiovascular de nuestros pacientes. 
En los últimos dos años se han publicado resultados sobre dos grupos terapéuticos que, al añadirse a las estatinas, incrementan la potencia hipolipemiante de forma muy relevante. En 2014 se publicaron los resultados con un inhibidor de la absorción intestinal del colesterol, y durante el ultimo año se han presentado resultados con dos fármacos inhibidores de PCSK9. 
El tratamiento hipolipemiante puede verse acompañado de algunos efectos indeseables e infrecuentes, como las mialgias y la diabetogenicidad de las estatinas, que deben ser tenidos en cuenta. En el primer caso, las mialgias pueden confundirse con otros dolores articulares, tendinosos o también musculares que no tienen relación con las estatinas. En el segundo caso, la diabetogenicidad es un aspecto a tener en cuenta, especialmente en cierto perfil de pacientes, sin que esto sea una justificación para no prescribir estatinas porque el beneficio es claramente superior al riesgo. 
Por todo ello, esta aplicación se ha desarrollado para facilitar la toma de decisiones, utilizando las mejoras evidencias y recomendaciones disponibles en cada caso. Se ha diseñado con el propósito de ser lo más sencilla posible en su uso en práctica clínica, pero que los resultados sean lo más exhaustivos posibles. 
Los autores queremos agradecer el apoyo desinteresado prestado por Sanofi para el desarrollo de esta aplicación, en la que hemos podido trabajar con total autonomía, y por ello, con total responsabilidad.  Solo nos queda esperar que vuestro juicio sea favorable, y que gracias a esta aplicación, los pacientes se beneficien del mejor tratamiento posible en el campo de las dislipemias, pensando en la mínimización del riesgo cardiovascular y en la mejoría pronóstica.
<br><br> 					    Los autores
</li>
			
		</ul>
	</div>
<div style="width:100%; height:150px;"></div>
	
	
	  
</ion-content>
<button ui-sref="formulariodislipemia" class="continuar button">CONTINUAR</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>