<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">Tratamiento de la Dislipemia</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">
<div class="super_modalvih">
	<div class="factores_cuadro">
		<a style="top: 40px;" class="cerrar" onclick="cerrar_modal_vih()"></a>
		<ul style="color:#606366">
			<li>Recomendaciones<br>para pacientes con VIH<br><hr></li>
			<li>1.Descartar la presencia de dislipidemia en pacientes con infección por el VIH, por ser esta una complicación frecuente en pacientes en TAR.<br><br> 
2. Iniciar siempre tratamiento de la dislipidemia con recomendaciones alimentarias y de estilo de vida específicas según la alteración lipídica presente.<br><br>
3. Los pacientes VIH con dislipidemia deben ser considerados como mínimo de alto RCV, por lo que su objetivo terapéutico será cLDL menor de 100 mg/dl.<br><br>
4. Se recomienda como primera elección la atorvastatina, aunque también pueden valorarse pravastatina y rosuvastatina como tratamiento farmacológico más seguro en prevención primaria y secundaria de la hipercolesterolemia.<br><br>
5. Se recomiendan los fibratos como tratamiento farmacológico más eficaz de la hipertrigliceridemia grave (> 500 mg/dl) refractaria a tratamiento dietético.<br><br>
6. No se recomienda de forma sistemática el tratamiento combinado de estatina y fibratos porque favorece la toxicidad de ambos fármacos.<br><br>
7. Se recomienda valorar la asociación de ezetimiba a estatinas, ya que puede mejorar el control de la dislipidemia en algunos pacientes.<br><br>
8. En pacientes con FRCV se recomienda iniciar TAR con fármacos con buen perfil metabólico.<br>
9. En pacientes que desarrollan alteraciones metabólicas o presentan un empeoramiento del RCV se recomienda valorar cambio de TAR siempre que no se comprometa la eficacia inmunovirológica, asociado o no al tratamiento hipolipemiante<br></li>
			
		</ul>
	</div>
	<div style="width:100%; height:150px;"></div>
</div>
<h2 class="subtitle">2 de 3 Riesgo Cardiovascular</h2>
<div class="pantalla_resultado">
	  <!-- <img style="width:95%" src="img/riesgo_bajo.png"> -->
	  <div class="cartel_verde">
		<p>BAJO</p>
	</div>
	  <label>Objetivo cLDL</label>
	  <select id="unidades_totales_bajo_vih" >
			  <option value="4">mg/dL</option>
			  <option value="0.25">mmol/L</option>
		 </select>
	 
	  <div class="campos_res">
	  	
	  	<input style="background: url('img/total_rojo3.png');" type="text" id="ldl_act_res_bajo_vih" readonly="readonly">
	    <input type="text" id="ldl_obj_res_bajo_vih" readonly="readonly">
	  </div>
	  
      
     <img  class="no_riesgo" src="img/mensaje_enhorabuena.png">
      <img  class="riesgo" src="img/mensaje_riesgo.png">
</div>

      
	  <ul class="list lista">

	    
		  
	  </ul>

</ion-content>
<button ui-sref="home" class="continuar continuar_vih button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>