<ion-header-bar class="bar-stable bar-home">
 
        <h1 class="title">Tratamiento de la Dislipemia</h1>

</ion-header-bar>
<ion-content class="form_dislipenia">
<h2 class="subtitle">1 de 3 Tratamiento<br>¿El paciente ha tenido tratamiento previo?</h2>

      
	  <ul class="list lista" style="margin-bottom: 200px;">
	    <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:14;">
     <label>Estatinas</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="estatinas" onchange="javascript:showEstatina()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		<ul class="selector_medicamentos sel_estatinas">
			<li class="linea_atorvastatina">Atorvastatina
				
			</li>
			<div class="cuadro_dosis cuadro_atorvastatina">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input name="atorvastatina" id="atorv_10" value="35" type="radio"></p>
					<p><img src="img/iconos_medicamentos.png">20 mg / 24 horas<input name="atorvastatina" id="atorv_20" value="41" type="radio"></p>
	
					<div>
						<p class="cancelar1">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			<li class="linea_rosuvastatina gris" style="background: #eeeeee !important">Rosuvastatina
				
			</li>
			<div class="cuadro_dosis cuadro_rosuvastatina">
					
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input name="rosuvastatina" id="rosuv_10" value="47" type="radio"></p>
					
					<div>
						<p class="cancelar2">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>

			
		
			<li class="linea_pravastatina">Pravastatina
					
			</li>
			<div class="cuadro_dosis cuadro_pravastatina">
				
					<p><img src="img/iconos_medicamentos.png">40 mg / 24 horas<input name="pravastatina" id="prav_40" value="33" type="radio"></p>
					
					<div>
						<p class="cancelar5">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
			
		</ul>
		  </li>
		  <li class="item item-toggle" style="border-top: 0; overflow:initial; z-index:13;">
     <label>Ezetimiba</label>
		     <label class="toggle toggle-assertive" style="top: 5px;">
		       <input type="checkbox" id="ezetimibe" onchange="javascript:showEzetimibe()">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		     <ul class="selector_medicamentos sel_ezetimibe">
			<li class="linea_ezetimibe">Ezetimiba

				
			</li>
			<div class="cuadro_dosis cuadro_ezetimibe">
					<p><img src="img/iconos_medicamentos.png">10 mg / 24 horas<input name="ezetimibe" id="ezet_10" value="20" type="radio"></p>
					
					<div>
						<p class="cancelar8">Cancelar</p>
						<p style="color: #86253C;" class="ok_guardar">OK</p>
					</div>
				</div>
		</ul>
		  </li>
		   
	  
		 
	    
	    
		  
	  </ul>

	  <div style="width:100%; height:150px;"></div>

</ion-content>
<button ng-click="sumar_vih()" class="continuar button">Continuar</button>
<div class="tabs tabs-icon-only bar-footer">
  

        <a back class="tab-item">
          <i class="icon ion-android-arrow-back"></i>
        </a>

        <a ui-sref="presentacion" class="tab-item">
          <i class="icon ion-ios-information-outline inf-red"></i>
        </a>
        <a onclick="javascript:menu_inferior()" class="tab-item">
          <i class="icon ion-navicon-round"></i>
        </a>
</div>